@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="Tasks">
    <div class="btn-group" role="group">
        <a asp-page="/Tasks/Task1" class="btn btn-primary btn-lg me-3" role="button" data-bs-toggle="button" onclick="">Вывод клиентов по тарифам (Task 1)</a>
        <a asp-page="/Tasks/Task2" class="btn btn-primary btn-lg me-3" role="button" data-bs-toggle="button">Сводная таблица за выбранный интервал (Task 2)</a>
        <a asp-page="/Tasks/Task3" class="btn btn-primary btn-lg me-3" role="button" data-bs-toggle="button">Диаграмма прибыли за выбранный интервал (Task 3)</a>
        <a asp-page="/Tasks/Task4" class="btn btn-primary btn-lg me-3" role="button" data-bs-toggle="button">Диаграмма прибыли по тарифам за выбранный интервал (Task 4)</a>
        <a asp-page="/Tasks/Task5" class="btn btn-primary btn-lg me-3" role="button" data-bs-toggle="button">Функция вывода количества клиентов по тарифам (Task 5)</a>
        <a asp-page="/Tasks/Task6" class="btn btn-primary btn-lg me-3" role="button" data-bs-toggle="button">Клиенты, заплатившие сумму больше введённой (Task 6)</a>
        <a asp-page="/Tasks/Task7" class="btn btn-primary btn-lg me-3" role="button" data-bs-toggle="button">Представление таблицы Client (Task 7)</a>
    </div>
</div>
	
<style>
    .Tasks {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    margin: 0;
        padding-bottom: 15%;
    text-align:center;
}
.btn{
    padding: 60px;
   
}
</style>