@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="Tasks">
    <div class="btn-group" role="group">
        <a asp-page="/Tasks/Task1" class="btn btn-primary btn-lg me-3" role="button" data-bs-toggle="button" onclick="">Task 1</a>
        <a asp-page="/Tasks/Task2" class="btn btn-primary btn-lg me-3" role="button" data-bs-toggle="button">Task 2</a>
        <a asp-page="/Tasks/Task3" class="btn btn-primary btn-lg me-3" role="button" data-bs-toggle="button">Task 3</a>
        <a asp-page="/Tasks/Task4" class="btn btn-primary btn-lg me-3" role="button" data-bs-toggle="button">Task 4</a>
    </div>
</div>
	
<style>
    .Tasks {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    margin: 0;
        padding-bottom: 15%;
}
.btn{
    padding: 60px;
   
}
</style>