@model InternetProvider.Client

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Client</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Фамилия" class="control-label"></label>
                <input asp-for="Фамилия" class="form-control" />
                <span asp-validation-for="Фамилия" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Имя" class="control-label"></label>
                <input asp-for="Имя" class="form-control" />
                <span asp-validation-for="Имя" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Отчество" class="control-label"></label>
                <input asp-for="Отчество" class="form-control" />
                <span asp-validation-for="Отчество" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Адрес" class="control-label"></label>
                <input asp-for="Адрес" class="form-control" />
                <span asp-validation-for="Адрес" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="НомерТелефона" class="control-label"></label>
                <input asp-for="НомерТелефона" class="form-control" />
                <span asp-validation-for="НомерТелефона" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ЭлектроннаяПочта" class="control-label"></label>
                <input asp-for="ЭлектроннаяПочта" class="form-control" />
                <span asp-validation-for="ЭлектроннаяПочта" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ДатаРождения" class="control-label"></label>
                <input asp-for="ДатаРождения" class="form-control" />
                <span asp-validation-for="ДатаРождения" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="НомерДоговора" class="control-label"></label>
                <select asp-for="НомерДоговора" class ="form-control" asp-items="ViewBag.НомерДоговора"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
